@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.profile__icon {
    display: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    padding: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__logo,
.profile__image {
    width: 40px;
    height: 40px;
}

.header__search {
    position: relative;
    width: 100%;
    max-width: 899px;
    margin: 0 40px;
}

.search__input {
    border: 1px solid #ebebf1;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding-left: 39px;
}

.header__search::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-image: url("../src/search-icon.png");
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 13px;
    top: 11px;
}

.search__input::-webkit-input-placeholder {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #bbc4d6;
}
.search__input::-moz-placeholder {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #bbc4d6;
}
.search__input:-moz-placeholder {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #bbc4d6;
}
.search__input:-ms-input-placeholder {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #bbc4d6;
}

.header__profile {
    position: relative;
    width: 151px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 19px;
}

.header__profile::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: -20px;
    height: 80px;
    width: 1px;
    background-color: #ebebf1;
}

.profile__name {
    margin-right: 10px;
    margin-top: -1px;
}

.profile__name span {
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #768298;
}

.profile__image {
    margin-right: 2px;
}

.main {
    margin-top: 70px;
    padding: 0 20px;
}

.main__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 160%;
    text-transform: uppercase;
}
.main__partners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc(100% + 30px);
    padding-top: 32px;
    margin-left: -30px;
}

.partners-item {
    width: 25%;
    min-width: 230px;
    padding-left: 30px;
    margin-top: 0;
}

.item__container {
    width: 100%;
    height: 120px;
    border: 1px solid #ebebf1;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.partners-item:nth-child(n + 5) {
    margin-top: 29px;
}

.partners-item:hover {
    box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
    cursor: url("/src/cursor.png") 2 2, pointer;
}

@media (max-width: 929px) {
    .main__title {
        font-size: 28px;
        line-height: 160%;
    }
    .main__partners {
        width: calc(100% + 20px);
        margin-left: -20px;
    }
    .partners-item {
        width: 33%;
        padding-left: 20px;
    }
    .partners-item:nth-child(n + 4) {
        margin-top: 20px;
    }
}
@media (max-width: 709px) {
    .partners-item {
        width: 100%;
        padding-left: 20px;
        padding-left: 0;
        margin-top: 20px;
    }
    .main__partners {
        width: 100%;
        margin-left: 0;
    }
    .partners-item {
        padding-left: 0;
    }
}

@media (max-width: 425px) {
    .header {
        padding: 16px 0 0;
    }
    .header__container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .profile__icon {
        display: block;
    }

    .profile__image,
    .profile__name,
    .header__profile::before {
        display: none;
    }

    .profile__icon {
        margin-right: 20px;
        margin-top: 8px;
    }

    .header__logo {
        margin-left: 21px;
    }

    .header__search {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: 100%;
        margin: 17px 0 0;
    }

    .header__search::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #ebebf1;
    }

    .header__search::before {
        left: 22px;
        top: 13px;
    }

    .search__input {
        border: none;
        display: block;
        height: 32px;
        padding-left: 49px;
        padding-top: 11px;
    }

    .main__partners {
        padding-top: 12px;
    }
}
